[submodule "vendor/Catch2"]
	path = vendor/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "vendor/googletest"]
	path = vendor/googletest
	url = https://github.com/google/googletest.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "Catch2"]
	path = Catch2
	url = https://github.com/catchorg/Catch2.git
